/* リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  /* メインブロック */
  .main {
    width: 100%;
  }
  
  .calendar {
    width: 300px;
    margin: calc(50vh - 1.5em) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .calendar__container {
    width: 150px;
    text-align: center;
    overflow-x: hidden;
  }
  
  .calendar__next,
  .calendar__prev {
    height: 3em;
  }
  

  

  